# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
# keep only ONE lockfile; comment out the two you don't use:
# yarn.lock
# pnpm-lock.yaml

# Next.js
.next/
out/
.next-static/
.next/cache/
.vercel/

# Env / secrets
.env
.env.local
.env.*.local

# Mac/Editor
.DS_Store
*.swp
.idea/
.vscode/